::ng-deep .mat-mdc-tab .mdc-tab__text-label {
    text-transform: uppercase !important;
    font-family: "Open Sans", sans-serif;
    font-weight: bold !important;
    color: #FC5723 !important;
    font-size: 16px !important;
}

.mat-mdc-tab-body-content {
    overflow: hidden !important;
}