
<!-- <div class="question-bank">
    <div>
        <a (click)="back()" class="btn btn-light"><i class="fa-solid fa-arrow-left"></i> Back</a>
    </div>
    <h1>Question Bank</h1>
    <div class="position-relative">
        <div class="position-absolute bottom-50 end-0">
        <input class="inpt_search"  [(ngModel)]="searchText" type="text" placeholder="Search Question Banks..." class="search-bar mb-3"/>
        </div>
    </div>
    <div class="cards-container">
        <div *ngFor="let list of filteredQuestionBanks()" [routerLink]="[loggedInUser.organizationId,'viewquestion',list.chasmaNOVOSkillId,list.levelId]" class="skill-card mb-2">           
                <div>
                    <h6>{{ list.title }}</h6>
                </div>
                <div>
                    <p>Question Count : {{list.totalQuestions}}</p>
                </div>
                <div>
                    <span class="level-badge">{{ list.levelName }}</span>
                </div>            
        </div>
    </div>
</div> -->
    <div class="question-bank">
        <div>
            <a (click)="back()" class="btn btn-light">
                <i class="fa-solid fa-arrow-left"></i> Back
            </a>
        </div>
    
        <h1>Question Bank</h1>   
     
        <p-table #dt
                 [value]="filteredQuestionBanks()"
                 [paginator]="true"
                 [rows]="10"
                 [globalFilterFields]="['title', 'levelName']"
                 [responsiveLayout]="'scroll'">
    
            <ng-template pTemplate="header">                
                <tr>
                    <th pSortableColumn="title">
                        Title <p-sortIcon field="title"></p-sortIcon>
                    </th>
                    <th pSortableColumn="totalQuestions">
                        Question Count <p-sortIcon field="totalQuestions"></p-sortIcon>
                    </th>
                    <th pSortableColumn="levelName">
                        Level <p-sortIcon field="levelName"></p-sortIcon>
                    </th>
                    <th>Action</th>
                </tr>
                <tr>
                    <th>
                        <input pInputText class="searchfield" type="text"
                            (input)="dt.filter($any($event.target).value, 'title', 'contains')"
                            placeholder="Search by Title">
                    </th>
                    <th></th>
                    <th>
                        <input pInputText class="searchfield" type="text"
                            (input)="dt.filter($any($event.target).value, 'levelName', 'contains')"
                            placeholder="Search by Level">
                    </th>
                    <th></th>
                </tr>
            </ng-template>
    
            <ng-template pTemplate="body" let-list>
                <tr>
                    <td>{{ list.title }}</td>
                    <td>{{ list.totalQuestions }}</td>
                    <td>
                        <span>{{ list.levelName }}</span>
                    </td>
                    <td>
                        <a [routerLink]="[loggedInUser.organizationId,'viewquestion',list.chasmaNOVOSkillId,list.levelId]"
                    class="p-button-sm p-button-info">
                        View
                    </a>
                    </td>
                </tr>
            </ng-template>
    
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4" class="text-center">No Question Banks Found</td>
                </tr>
            </ng-template>
    
        </p-table>
    </div>


