<div class="p-2" *ngIf="!loading">
  <div class="d-flex back-btn" *ngIf="!isMobile">
    <a (click)="back()" class="btn btn-light"><i class="fa-solid fa-arrow-left"></i> Back</a>
  </div>
  <div class="mb-2" *ngIf="
      loggedInUser.roleName === 'GlobalAdmin' ||
      loggedInUser.roleName === 'Admin' ||
      loggedInUser.roleName === 'Manager'
    ">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div class="fs-5 fw-medium">Badges</div>
      <button class="btn-connect" (click)="openAddBadgeDialog()">
        Add Badge
        <img src="https://chasmadevstore.blob.core.windows.net/public/gamification/badges/Add Bage_icon.png" alt="" />
      </button>
    </div>

    <div class="badge-card">
      <div *ngIf="combinedBadges.length > 0">
        <div class="custom-badges-carousel">
          <p-carousel class="d-flex align-items-center justify-content-center" [value]="combinedBadges" [numVisible]="4"
            [numScroll]="3" [showIndicators]="false" [showNavigators]="showNavigator && !isMobile" [circular]="isMobile"
            [responsiveOptions]="responsiveOptions">
            <ng-template pTemplate="item" let-badge>
              <div class="card text-center align-content-center align-items-center">
                <img [src]="badge.badgeUrl || badge.badgeImage" class="card-img-top" alt="Badge Image" />
                <div class="card-body p-1">
                  <p [title]="badge.badgeName || badge.name" class="card-text badge-text m-0" id="badgeName">
                    {{ badge.badgeName || badge.name }}
                  </p>
                  <p [title]="badge.levelName || badge.levelValue" class="card-text badge-text m-0" id="level">
                    Level: {{ badge.levelName || badge.levelValue }}
                  </p>
                  <p [title]="badge.createdOn" class="card-text badge-text m-0" id="createdOn">
                    Created On: {{ badge.createdOn | date: 'short' }}
                  </p>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
      </div>
      <div class="custom-badges-carousel d-flex align-items-center justify-content-center no-skill"
        *ngIf="combinedBadges.length <= 0">
        No Badges available
      </div>
    </div>
  </div>
  <div class="mb-2">
    <div class="d-flex cards-div col-12 align-items-center my-badge-mob">
      <div class="col-8 d-flex flex-column badges">
        <div class="fs-5 fw-medium mb-2">My Badges</div>

        <div class="badge-skills d-flex align-items-center justify-content-center" *ngIf="userBadgeData.length !== 0">
          <p-carousel [value]="userBadgeData" [numVisible]="3" [numScroll]="2" [showIndicators]="false"
            [showNavigators]="showBadgeNavigator && !isMobile" [responsiveOptions]="responsiveOptions">
            <ng-template pTemplate="item" let-badge>
              <div class="card card-content text-center align-content-center align-items-center m-0">
                <img [src]='badge.badgeUrl' class="card-img-top" alt="Badge Image" />
                <div class="my-card-body p-1">
                  <p class="card-text my-badge-text m-0 truncated-text" id="skill" data-bs-toggle="tooltip"
                    [attr.title]="badge.skillName !== '' && badge.skillName !== null ? badge.skillName : badge.name">
                    {{ badge.skillName !== '' && badge.skillName !== null ? 'Skill: ' + badge.skillName : 'badge: ' +
                    badge.name }}
                  </p>

                  <p class="card-text my-badge-text m-0 truncated-text" id="level" data-bs-toggle="tooltip"
                    [attr.title]="badge.levelName">
                    Level: {{ badge.levelName }}
                  </p>
                  <div class="mt-2 text-center">
                    <!-- <a [href]="generateLinkedInUrl(badge)" target="_blank" class="btn btn-default btn-sm">
                      <i class="fa-brands fa-linkedin"></i> Share
                    </a> -->
                    <button class="btn btn-default btn-sm" (click)="generateLinkedInUrl(badge)">
                      <i *ngIf="badge.isLinkedIn" style="margin-right: 5px;color: green;"
                        class="fa-solid fa-circle-check done-icon"></i>
                      <i class="fa-brands fa-linkedin" style="color: #0a66c2;"></i> Share
                    </button>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <div class="badge-skills d-flex align-items-center justify-content-center no-skill"
          *ngIf="userBadgeData.length === 0">
          No Badges available
        </div>
      </div>

      <div class="col-4 d-flex flex-column badges">
        <div class="reward ms-2">
          <div class="fs-5 fw-medium mb-2">My Reward Points</div>
          <div class="point-card">
            <div class="col-7 d-flex justify-content-center" id="point">
              {{ userpoints > 0 ? userpoints : '0.0' }}
              <p style="color: #fc5722" class="m-0">+</p>
            </div>
            <div class="col-5" id="increment">
              <div class="d-flex flex-column justify-content-start align-items-center" style="width: 8rem">
                <img src="https://chasmadevstore.blob.core.windows.net/public/gamification/badges/Increase_coins.png"
                  class="pt-1 inc-img" alt="..." />
                <!-- <div class="card-body p-1">
                  <p class="card-text badge-text m-0" id="skill">
                    {{ 30 }}% increament
                  </p>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="leader-board">
    <div class="fs-5 fw-medium mb-2">Leader Board</div>
    <div class="" *ngIf="!isMobile">
      <p-table [value]="topUser" sortField="point" [sortOrder]="-1" [paginator]="true" [rows]="10"
        styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th class="t-head" id="t-start">POSITION</th>
            <th class="t-head">USER</th>
            <th class="t-head">POINTS</th>
            <th class="t-head" id="t-end">ORGANIZATION</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-board let-rowIndex="rowIndex">
          <tr [ngClass]="{
              'index-1': rowIndex == 0,
              'index-2': rowIndex == 1,
              'index-3': rowIndex == 2,
              striped: rowIndex > 2 && rowIndex % 2 == 0
            }" class="t-data">
            <td class="top-rank" *ngIf="rowIndex == 0">
              <img src="https://chasmadevstore.blob.core.windows.net/public/gamification/badges/Rank_1.png" alt=""
                class="rank-img" />
            </td>
            <td class="top-rank" *ngIf="rowIndex == 1">
              <img src="https://chasmadevstore.blob.core.windows.net/public/gamification/badges/Rank_2.png" alt=""
                class="rank-img" />
            </td>
            <td class="top-rank" *ngIf="rowIndex == 2">
              <img src="https://chasmadevstore.blob.core.windows.net/public/gamification/badges/Rank_3.png" alt=""
                class="rank-img" />
            </td>
            <td class="rank" *ngIf="rowIndex != 0 && rowIndex != 1 && rowIndex != 2">
              {{ rowIndex + 1 }}
            </td>
            <td style="font-size: 15px">
              {{ board.firstName }} {{ board.lastName }}
            </td>
            <td style="font-size: 15px">{{ board.points }}</td>
            <td style="font-size: 15px">{{ board.organizationName }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="text-center">No records found</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
    <div *ngIf='isMobile'>
      <div *ngFor="let user of topUser; let rowIndex = index;">
        <mat-card class="example-card mb-3" appearance="outlined">
          <mat-card-header class="mb-3 card-head-mob">
            <mat-card-title-group class="mb-3">
              <mat-card-title>{{ user.firstName }} {{ user.lastName }}</mat-card-title>
              <div>
                <div class="top-rank" *ngIf="rowIndex == 0">
                  <img src="https://chasmadevstore.blob.core.windows.net/public/gamification/badges/Rank_1.png" alt=""
                    class="rank-img" />
                </div>
                <div class="top-rank" *ngIf="rowIndex == 1">
                  <img src="https://chasmadevstore.blob.core.windows.net/public/gamification/badges/Rank_2.png" alt=""
                    class="rank-img" />
                </div>
                <div class="top-rank" *ngIf="rowIndex == 2">
                  <img src="https://chasmadevstore.blob.core.windows.net/public/gamification/badges/Rank_3.png" alt=""
                    class="rank-img" />
                </div>
                <div class="rank" *ngIf="rowIndex != 0 && rowIndex != 1 && rowIndex != 2">
                  {{ rowIndex + 1 }}
                </div>
              </div>

            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content class="d-flex justify-content-between align-items-end">
            <div>
              <p><strong>Points : </strong>{{user.points}}</p>
              <p><strong>Organization : </strong>{{user.organizationName}}</p>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
      <div *ngIf="topUser.length === 0">
        <p class="text-center mt-1">No records found</p>
      </div>
    </div>
  </div>

</div>

<div class="loader" *ngIf="loading">

</div>