<div class="me-2" *ngIf="!isLoading">
    <div class="d-flex back-btn" *ngIf="!isMobile">
        <a (click)="back()" class="btn btn-light"><i class="fa-solid fa-arrow-left"></i> Back</a>
    </div>
    <!-- <div class="mb-3">
        <div class="fs-5 fw-medium ms-4 m-2">Learning Path</div>
        <div class="col-md-12 box d-flex text-center p-4">
            <div class="col-md-4 border-end box-child">
                <div class="fw-bold course-header">Completed Courses</div>
                <div class="m-4 course-value" id="com-crs">60</div>
            </div>
            <div class="col-md-4 border-end box-child">
                <div class="fw-bold course-header">Pending Courses</div>
                <div class="m-4 course-value" id="pen-crs">52</div>
            </div>
            <div class="col-md-4 box-child">
                <div class="fw-bold course-header">Bookmarked Courses</div>
                <div class="m-4 course-value" id="book-crs">80</div>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <div class="fs-5 fw-medium ms-4 m-2">Resume learning</div>
        <div class="col-md-12 d-flex" id="card-section">
            <div class="flex-fill" id="flex-section" *ngFor="let continueCrs of continueLearning; let i = index">
                <mat-card class="course-card" appearance="outlined">
                    <div class="card-container more-icon">
                        <img mat-card-image class="course-image" *ngIf="continueCrs.image.length > 0;"
                            [src]="continueCrs.image" alt="Course Image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAUmka06uFKW8BxmZXi8uH_N1euTnUnTWmhQ&amp;s"
                            class="card-img-top" alt="Course image" *ngIf="continueCrs.image.length <= 0;">
                        <div class="content-section">
                            <div class="tag1" *ngIf="i==0">{{continueCrs.tag}}</div>
                            <div class="tag2" *ngIf="i==1">{{continueCrs.tag}}</div>
                            <div class="mt-3 mb-3">
                                <mat-card-title class="course-title">{{continueCrs.title}}</mat-card-title>
                                <mat-card-subtitle class="course-title">{{continueCrs.subtitle}}</mat-card-subtitle>
                            </div>
                            <div class="main-progress">
                                <div class="d-flex justify-content-between w-100 bar-text">
                                    <span class="bar-title">Progress</span>
                                    <span class="bar-title">{{continueCrs.value}}%</span>
                                </div>
                                <div class="progress-section w-100">
                                    <p-progressBar [value]="continueCrs.value" [showValue]="false"
                                        [style]="{ 'background': '#FCE4D0' }"
                                        [styleClass]="'progress-bar-learning'"></p-progressBar>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button mat-icon-button class="top-rignt"><mat-icon>more_horiz</mat-icon></button>
                    <button mat-stroked-button color="primary" class="buttom-right btns">Continue</button>
                </mat-card>
            </div>
        </div>
    </div> -->
    <div class="col-md-12 main-container" *ngIf="searchcourseResponse.length !==0 || searchcontentResponse.length !==0">
        <div class="fs-5 fw-medium">All Courses</div>
        <div class="ms-2 d-flex justify-content-between align-items-center">
            <div>
                <!-- <button mat-raised-button class="crs-btn ms-0 m-2" (click)="allstatus()">All Statuses</button>
                <button mat-raised-button class="crs-btn m-2" (click)="Registered()">Registered</button>
                <button mat-raised-button class="crs-btn m-2" (click)="Attended()">Attended</button>
                <button mat-raised-button class="crs-btn m-2" (click)="NoShow()">No Show</button>
                <button mat-raised-button class="crs-btn m-2" (click)="Cancelled()">Cancelled</button>
                <button mat-raised-button class="crs-btn m-2" (click)="Waived()">Waived</button>
                <button mat-raised-button class="crs-btn m-2" (click)="Inprogress()">In progress</button> -->
            </div>
            <mat-form-field class="underline-search-bar" [appearance]="isMobile ? 'outline': 'fill'"
                [ngClass]="isMobile ? 'mobile-search' : ''">
                <input matInput placeholder="Type to search" [(ngModel)]="searchValue" (input)="filterList($event)">
                <mat-icon matSuffix>search</mat-icon>
                <!-- <mat-icon matSuffix (click)="clearSearch()">cancel</mat-icon> -->
            </mat-form-field>
        </div>
        <div class="mt-2">
            <div class="row">
                <!-- <div class="col-md-3" id="course-main" *ngFor="let course of courseResponse">
                    <div class="card position-relative">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAUmka06uFKW8BxmZXi8uH_N1euTnUnTWmhQ&amp;s"
                            class="card-img-top" alt="Course image" />
                        <span class="badge ms-3">{{ course.activityType }}</span>
                        <div class="card-body d-flex">
                            <div class="title-txt">
                                <span class="card-title">Title : {{ course.activityName }}</span>
                                <span class="card-text">Description : {{ course.activityDescription || 'No description
                                    available'
                                    }}</span>
                            </div>
                        </div>
                        <div class="btn-div">

                        </div>
                    </div>
                </div> -->
                <div class="col-md-3" id="course-main" *ngFor="let content of courseResponse">
                    <div class="card position-relative">
                        <img [src]="content.thumbnail" class="card-img-top" alt="Course image"
                            *ngIf="content.thumbnail">
                        <img [src]="content.activityImageUrl" class="card-img-top" alt="Course image"
                            *ngIf="content.activityImageUrl"
                            (error)="content.activityImageUrl = 'https://chasmadevstore.blob.core.windows.net/public/defaultcontent.jpg'">
                        <img src="https://chasmadevstore.blob.core.windows.net/public/defaultcontent.jpg"
                            class="card-img-top" alt="Course image"
                            *ngIf="!content.thumbnail && !content.activityImageUrl">
                        <div class="d-flex" style="align-items: center;">
                            <span class="badge ms-3" [matTooltip]="content.activityType || content.chasmaNOVOSkillId"
                                [class]="content.chasmaNOVOSkillId">{{ content.chasmaNOVOSkillId ||
                                content.activityType
                                }}</span>
                            <span class="badge ms-3" *ngIf="content.levelId" [matTooltip]="content.levelId"
                                [class]="content.levelId">{{
                                content.levelId }}</span>
                        </div>
                        <div class="card-body d-flex">
                            <div class="title-txt">
                                <span class="card-title" [matTooltip]="content.title || content.activityName">Title : {{
                                    content.title || content.activityName }}</span>
                                <span class="card-text"
                                    [matTooltip]="content.description || content.activityDescription"
                                    *ngIf="content.description !=='null'">Description : {{
                                    content.description ||
                                    content.activityDescription || 'No description
                                    available' }}</span>
                                <span class="card-text"
                                    [matTooltip]="content.description || content.activityDescription"
                                    *ngIf="content.activityDescription">Description : {{
                                    content.description ||
                                    content.activityDescription || 'No description
                                    available' }}</span>
                            </div>
                        </div>
                        <div class="btn-div">
                            <button class="btn-start" *ngIf="content.cbtPath"
                                (click)="startcourse(content.cbtPath)">Start</button>
                            <button class="btn-start" *ngIf="content.contentPath"
                                (click)="startcourse(content.contentPath)">Start</button>
                            <button class="btn-start" *ngIf="!content.contentPath && !content.cbtPath"
                                disabled>Start</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center" *ngIf="courseResponse.length ===0">
                No Courses are available
            </div>
        </div>
    </div>
    <div class="text-center"
        *ngIf="!isLoading && searchcourseResponse?.length ===0 && searchcontentResponse?.length === 0">
        <img src="https://chasmadevstore.blob.core.windows.net/public/novo_Cources-Not-found-page.png"
            style="width: 100%;" alt="No Courses available for this skills">
    </div>
</div>
<div class="loader" *ngIf="isLoading">
</div>