.whiteBackground {
  background-color: white !important;
}

::ng-deep.custom-quill .ql-container.ql-snow {
  height: 60% !important;
}

.qustbox {
  width: -webkit-fill-available !important;
  min-height: 50px !important;
  /* resize: none !important;
    overflow: hidden !important; */
}

.optbox {
  width: -webkit-fill-available !important;
  min-height: 30px !important;
}

.btnstyles {
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  background-color: #fc5723;
  padding: 4px 20px;
  border-radius: 8px;
  border: 1px solid #fff;
}

.btnDelete {
  font-size: 15px;
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 26px;
  border-radius: 10px;
  background-color: #474c60;
}

.field {
  width: -webkit-fill-available !important;
}

.btndisable {
  background-color: grey;
  color: honeydew;
  cursor: not-allowed;
}

.colorRed {
  color: red;
}

.display {
  display: inline-flex;
}

.dim {
  line-height: 1.125;
  width: 135px !important;
}

.borderdiv {
  border: 1px solid #959595;
}

.height {
  min-height: 90px !important;
}

.bottomMarginNull {
  margin-bottom: 0px !important;
}

/* .scroll{
    overflow-y: scroll;
} */

.imgcancel {
  position: absolute;
  top: -15px;
}

.Questionimage {
  max-width: 100% !important;
  max-height: 250px !important;
  min-height: 250px !important;
  min-width: 100% !important;
}

.mar0 {
  margin: 0px;
}

.optionimages {
  max-width: 50%;
  min-width: 50%;
  max-height: 150px;
  min-height: 150px;
  text-align: center;
}

.displaymiddle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.martopbot10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.marginTop15 {
  margin-top: 15px;
}

.displayinline {
  display: inline-flex;
}

.uploadbtn {
  padding: 2px 20px;
  border-radius: 20px;
  float: left;
  margin-right: 5px;
  color: #a2a2a2;
  margin-top: 5px;
  border: 1px solid lightgrey;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  /* display: inline-block; */
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  background: #596496;
  color: white;
}

.displayFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.selectdiv {
  padding: 10px;
}

.dropdown-button:active {
  background-color: #fff;
  color: #000;
}

.dropdown-button {
  white-space: nowrap;
  width: 100%;
  height: 49px;
  background-color: #fff;
  color: black;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
}

.drop-down-txt {
  font-size: 14px !important;
  font-weight: 400 !important;
}

.MarksDiv {
  justify-content: space-around;
  align-items: center;
}

::ng-deep .mat-select-panel {
  max-height: 300px !important;
  overflow: auto !important;
}
