.interestField {
  width: 40% !important;
}

.interest-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-top: 20px;
  background-color: #fafafa;
}

.mat-mdc-dialog-panel {
  max-width: none !important;
  min-width: none !important;
}

.btns {
  height: 28px;
  border-radius: 5px;
  font-weight: lighter;
  font-size: small;
  margin: 5px;
  width: 85px;
}
#back-btn {
  color: black;
}
#save-btn {
  background-color: #fc5722;
}
// ::ng-deep .mat-mdc-form-field {
//   display: flex !important;
// }
// ::ng-deep .mdc-floating-label--float-above {
//   display: flex !important;
// }

@media (max-width: 767.98px) {
  .dialog-mob {
    flex-direction: column;
    padding: 20px 5px !important;
    gap: 10px;
  }
  .interestField {
    width: 100% !important;
  }
}
