<div id="main-container" *ngIf="!isLoading || loading">
    <div *ngIf="!isMobile">
        <div id="org-status" class="d-flex justify-content-between align-items-center p-3">
            <div id="status-section" class="d-flex gap-5">
                <div class="status total p-2" (click)="activeTab('total')">
                    <div class="status-number" class="d-flex justify-content-center">
                        <h2>{{totalOrgs}}</h2>
                    </div>
                    <div class="status-text d-flex align-items-center justify-content-center gap-2">
                        <i class="fa-solid fa-file-lines"></i>
                        <p>Total</p>
                    </div>
                </div>
                <div class="status active p-2" (click)="activeTab('active')">
                    <div class="status-number" class="d-flex justify-content-center">
                        <h2>{{activerecords}}</h2>
                    </div>
                    <div class="status-text d-flex align-items-center justify-content-center gap-2">
                        <i class="fa-solid fa-circle-check"></i>
                        <p>Active</p>
                    </div>
                </div>
                <div class="status inactive p-2" (click)="activeTab('inactive')">
                    <div class="status-number" class="d-flex justify-content-center">
                        <h2>{{Inactiveorgs}}</h2>
                    </div>
                    <div class="status-text d-flex align-items-center justify-content-center gap-2">
                        <i class="fa-solid fa-circle-xmark"></i>
                        <p>Inactive</p>
                    </div>
                </div>
            </div>
            <div id="add-import-section" class="d-flex align-items-end">
                <div class="add d-flex gap-5">
                    <div class="d-flex gap-2 align-items-center add-btn" [routerLink]="['add']"
                        *ngIf="loggedInUser.roleName === 'GlobalAdmin'"> <i class="fa-solid fa-plus"></i>
                        <p>Add</p>
                    </div>
                    <!-- <div class="d-flex gap-2 align-items-center add-btn"><i class="fa-solid fa-file-import"></i>
                    <p>import</p>
                </div> -->
                </div>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div id="table" class="pt-3">
            <p-table #dt [value]="dataSource" [lazy]="true" (onLazyLoad)="loadOrganizations($event)" [paginator]="true"
                [rows]="5" [totalRecords]="totalRecords" [loading]="loading" [responsiveLayout]="'scroll'">
                <ng-template pTemplate="header">
                    <tr>
                        <th></th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="url">Tenant URL <p-sortIcon field="url"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <input pInputText class="searchfield" type="text"
                                (input)="dt.filter($any($event.target).value, 'name', 'contains')"
                                placeholder="search by name">
                        </th>
                        <th>
                            <input pInputText class="searchfield" type="text"
                                (input)="dt.filter($any($event.target).value, 'url', 'contains')"
                                placeholder="search by url">
                        </th>
                        <th>
                            <input pInputText class="searchfield" type="text"
                                (input)="dt.filter($any($event.target).value, 'email', 'contains')"
                                placeholder="search by email">
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-org>
                    <tr>
                        <td>
                            <div id="profile-avatar" class="d-flex gap-3 align-items-center">
                                <ngx-avatars *ngIf="!org.imagePath" [name]="org.name" size="40" borderColor="#fff"
                                    bgColor="#2C3E51"></ngx-avatars>
                                <ngx-avatars *ngIf="org.imagePath" [src]="org.imagePath" size="40"
                                    borderColor="#fff"></ngx-avatars>

                            </div>
                        </td>
                        <td>{{ org.name }}</td>
                        <td>{{ org.url }}</td>
                        <td>{{ org.email }}</td>
                        <td>{{ org.isActive ? 'Active' : 'Inactive' }}</td>
                        <td>
                            <span [matMenuTriggerFor]="menu" style="cursor: pointer;padding: 0px 10px;">
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </span>
                        </td>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item [routerLink]="[org.organizationId,'overview']"
                                [routerLinkActive]="['active-link']"
                                [routerLinkActiveOptions]="{ exact: true }">View</button>
                            <!-- <button mat-menu-item [routerLink]="[org.organizationId,'overview']"
                            *ngIf="loggedInUser.roleName !== 'Learner'">Edit</button> -->
                            <button mat-menu-item (click)="changeOrgActiveStatus(org)"
                                *ngIf="org.isActive && loggedInUser.roleName !== 'Learner'">Inactive</button>

                            <button mat-menu-item (click)="changeOrgActiveStatus(org)"
                                *ngIf="!org.isActive && loggedInUser.roleName !== 'Learner'">Active</button>
                            <button mat-menu-item
                                *ngIf="loggedInUser.roleName === 'GlobalAdmin' && loggedInUser.organizationId !== org.organizationId"
                                (click)="emulateOrganization(org)">Emulate</button>
                        </mat-menu>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-org>
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="display: flex;justify-content: end;">No Data Found</td>
                        <td></td>
                        <td></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <div *ngIf="isMobile">
        <div id="org-status" class="d-flex flex-wrap justify-content-center align-items-center p-3">
            <div id="add-import-section" class="d-flex flex-column w-100 align-items-end m-2 mt-0">
                <div class="add d-flex gap-5">
                    <div class="d-flex gap-2 align-items-center add-btn" [routerLink]="['add']"
                        *ngIf="loggedInUser.roleName === 'GlobalAdmin'"> <i class="fa-solid fa-plus"></i>
                        <p>Add</p>
                    </div>
                </div>
            </div>
            <div id="status-section" class="d-flex gap-4">
                <div class="status total p-2" (click)="activeTab('total')">
                    <div class="status-number d-flex justify-content-center">
                        <h2>{{ totalOrgs }}</h2>
                    </div>
                    <div class="status-text d-flex align-items-center justify-content-center gap-2">
                        <i class="fa-solid fa-file-lines"></i>
                        <p>Total</p>
                    </div>
                </div>
                <div class="status active p-2" (click)="activeTab('active')">
                    <div class="status-number d-flex justify-content-center">
                        <h2>{{ activerecords }}</h2>
                    </div>
                    <div class="status-text d-flex align-items-center justify-content-center gap-2">
                        <i class="fa-solid fa-circle-check"></i>
                        <p>Active</p>
                    </div>
                </div>
                <div class="status inactive p-2" (click)="activeTab('inactive')">
                    <div class="status-number d-flex justify-content-center">
                        <h2>{{ Inactiveorgs }}</h2>
                    </div>
                    <div class="status-text d-flex align-items-center justify-content-center gap-2">
                        <i class="fa-solid fa-circle-xmark"></i>
                        <p>Inactive</p>
                    </div>
                </div>
            </div>
             
        </div>
        <div class="card-mob">
            <mat-form-field appearance="outline" class="mt-2 w-100 ">
                <div class="d-flex align-items-center gap-2 w-100">
                    <i class="fa-solid fa-search"></i>
                    <input matInput placeholder="Type to search" class="w-100" (keyup)="orgsFilter($event)">
                </div>
            </mat-form-field>
            <div *ngFor="let org of filteredOrgs">
                <mat-card class="example-card mb-3" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title-group class="justify-content-start">
                            <div>
                                <ngx-avatars *ngIf="!org?.imagePath" [name]="org.name" size="45" borderColor="#fff"
                                    bgColor="#474C60"></ngx-avatars>

                                <ngx-avatars *ngIf="org?.imagePath" [src]="org?.imagePath" [name]="org.name" size="45"
                                    borderColor="#fff"></ngx-avatars>
                            </div>
                            <div class="ms-3 mb-3">
                                <mat-card-title class="user-title">{{ org.name }}
                                </mat-card-title>
                                <mat-card-subtitle>{{org.url}}</mat-card-subtitle>
                            </div>

                        </mat-card-title-group>
                        <span [matMenuTriggerFor]="menu" style="cursor: pointer;padding: 0px 10px;">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </span>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item [routerLink]="[org.organizationId,'overview']"
                                [routerLinkActive]="['active-link']"
                                [routerLinkActiveOptions]="{ exact: true }">View</button>
                            <button mat-menu-item (click)="changeOrgActiveStatus(org)"
                                *ngIf="org.isActive && loggedInUser.roleName !== 'Learner'">Inactive</button>

                            <button mat-menu-item (click)="changeOrgActiveStatus(org)"
                                *ngIf="!org.isActive && loggedInUser.roleName !== 'Learner'">Active</button>
                            <button mat-menu-item
                                *ngIf="loggedInUser.roleName === 'GlobalAdmin' && loggedInUser.organizationId !== org.organizationId"
                                (click)="emulateOrganization(org)">Emulate</button>
                        </mat-menu>
                    </mat-card-header>
                    <mat-card-content class="d-flex justify-content-between align-items-end">
                        <div>
                            <p>Email : {{org.email}}</p>

                        </div>
                        <div>
                            <p>{{org.isActive ? 'Active':'Inactive'}}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div *ngIf="filteredOrgs.length == 0" class="d-flex justify-content-center align-items-center">
                <p>Organization not available</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLoading || loading" class="loader">

</div>
