<div class="container">
  <div class="stepper-div">
    <mat-stepper orientation="vertical" linear #stepper id="matStepper">
      <mat-step [stepControl]="profileFormGroup" [editable]="isEditable">
        <form [formGroup]="profileFormGroup">
          <ng-template matStepLabel>Fill out your Details</ng-template>

          <div class="welcome-message text-center">
            <h3>
              Hello {{ profileFormGroup.get("firstName")?.value }}
              {{ profileFormGroup.get("lastName")?.value }}, Welcome.....!
            </h3>
          </div>

          <div class="d-flex flex-column justify-content-center">
            <!-- First Name Field -->
            <mat-form-field appearance="outline" class="detailsField">
              <mat-label>First Name</mat-label>
              <input matInput formControlName="firstName" maxlength="250" placeholder="First Name" required
                autocomplete="off" />
              <mat-error *ngIf="profileFormGroup.get('firstName')?.hasError('required')">
                First name is required
              </mat-error>
              <mat-error *ngIf="profileFormGroup.get('firstName')?.hasError('pattern')">
                First name must contain only alphabets
              </mat-error>
            </mat-form-field>

            <!-- Last Name Field -->
            <mat-form-field appearance="outline" class="detailsField">
              <mat-label>Last Name</mat-label>
              <input matInput formControlName="lastName" maxlength="250" placeholder="Last Name" required
                autocomplete="off" />
              <mat-error *ngIf="profileFormGroup.get('lastName')?.hasError('required')">
                Last name is required
              </mat-error>
              <mat-error *ngIf="profileFormGroup.get('lastName')?.hasError('pattern')">
                Last name must contain only alphabets
              </mat-error>
            </mat-form-field>

            <!-- Select Job Title -->
            <mat-form-field appearance="outline" class="jobTitleField">
              <mat-label>Select Job Title</mat-label>
              <input type="text" matInput #jobTitleInput [matAutocomplete]="autoJobTitles"
                (input)="onSearchInput($event, 'job')" placeholder="Search Job Titles" required
                formControlName="jobTitle" />
              <mat-autocomplete #autoJobTitles="matAutocomplete"
                (optionSelected)="onJobTitleChange($event.option.value)">
                <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" [scrollWindow]="false"
                  (scrolled)="onDropdownScroll('jobTitles')" class="dropdown-scroll">
                  <mat-option *ngFor="let job of filteredJobTitles | async" [value]="job.chasmaNOVOJobTitleId">
                    {{ job.name }}
                  </mat-option>
                </div>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="d-flex justify-content-end">
            <button matStepperNext class="nxtBtn">
              Next<span style="padding-left: 15px"><i class="fa-solid fa-arrow-right-long"></i></span>
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Interests Form Step -->
      <mat-step [stepControl]="interestsFormGroup" [editable]="isEditable">
        <form [formGroup]="interestsFormGroup">
          <ng-template matStepLabel>Add Your Interests</ng-template>
          <h2 class="text-center">Add Interests</h2>

          <div class="d-flex flex-column">
            <mat-form-field appearance="outline" class="interestField w-100">
              <mat-label>Select Interests</mat-label>
              <input type="text" matInput [matAutocomplete]="autoInterests" formControlName="interests"
                placeholder="Search Interests" (input)="onSearchInput($event, 'interest')" />
              <mat-autocomplete #autoInterests="matAutocomplete">
                <mat-option *ngFor="let interest of filteredInterest | async" [value]="interest.name">
                  {{ interest.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <div class="d-flex justify-content-end p-2">
              <button (click)="addInterest()" class="btn btn-secondary addButton"
                [disabled]="!interestsFormGroup.valid">
                Add
              </button>
            </div>
          </div>

          <div *ngIf="selectedInterests.length > 0" class="interest-box d-flex flex-wrap align-items-center">
            <div *ngFor="let interest of selectedInterests" class="interest-item">
              <mat-chip-list class="interest-chip-list">
                <mat-chip class="interest-chip">
                  <div class="d-flex align-items-center justify-content-center">
                    <span class="interest-name">{{ interest.name }}</span>
                  </div>
                  <button mat-icon-button (click)="removeInterest(interest)"
                    class="cancelBtn d-flex align-items-center">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>

          <div class="d-flex actionButtons justify-content-between mt-5">
            <button matStepperPrevious class="backBtn">Back</button>
            <button (click)="skipInterests(stepper)" class="nxtBtn">
              {{ selectedInterests.length === 0 ? "Skip" : "Next"
              }}<span style="padding-left: 15px"><i class="fa-solid fa-arrow-right-long"></i></span>
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="skillsFormGroup" [editable]="isEditable">
        <form [formGroup]="skillsFormGroup">
          <ng-template matStepLabel>Add Your Skills</ng-template>
          <h2 class="text-center">Add Skills</h2>

          <div class="d-flex flex-column">
            <mat-form-field appearance="outline" class="interestField">
              <mat-label>Select Skills</mat-label>
              <input type="text" matInput [matAutocomplete]="autoSkills" formControlName="skills"
                placeholder="Search Skills" [required]="selectedSkills.length === 0"
                (input)="onSearchInput($event, 'skill')" />
              <mat-autocomplete #autoSkills="matAutocomplete">
                <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500" [scrollWindow]="false"
                  (scrolled)="onDropdownScroll('skills')" class="dropdown-scroll">
                  <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill.name">
                    {{ skill.name }}
                  </mat-option>
                </div>
              </mat-autocomplete>
              <mat-error *ngIf="skillsFormGroup.get('skills')?.hasError('required')">
                Please select atleast one skill.
              </mat-error>
              <mat-error *ngIf="skillsFormGroup.get('skills')?.hasError('alreadyAdded')">
                This skill has already been added.
              </mat-error>
              <mat-error *ngIf="skillsFormGroup.get('skills')?.hasError('limitExceeded')">
                You can only add up to 30 skills.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="interestField">
              <mat-label>Level</mat-label>
              <mat-select formControlName="level" [required]="selectedSkills.length === 0">
                <mat-option *ngFor="let level of LevelList" [value]="level.levelValue">{{ level.levelValue
                  }}</mat-option>
              </mat-select>
              <mat-error *ngIf="skillsFormGroup.get('level')?.hasError('required')">
                Please select the level.
              </mat-error>
            </mat-form-field>

            <div class="d-flex justify-content-end p-2">
              <button (click)="addSkills()" class="btn btn-secondary addButton">
                Add
              </button>
            </div>
          </div>

          <div *ngIf="selectedSkills.length > 0" class="interest-box d-flex">
            <div *ngFor="let skill of selectedSkills">
              <p>
                <strong>{{ skill.level }}</strong>
              </p>
              <mat-chip-list class="d-flex justify-content-between">
                <mat-chip class="skillName">
                  <div class="skill-name-mob">
                    {{ skill.name }}
                  </div>
                  <button mat-icon-button (click)="removeSkill(skill)" class="cancelBtn d-flex align-items-center">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>

          <!-- Success Message -->
          <div *ngIf="selectedSkills.length > 0" class="success-message">
            <p>Skills added successfully!</p>
          </div>

          <div class="d-flex actionButtons justify-content-between mt-5">
            <button matStepperPrevious class="backBtn">Back</button>
            <button (click)="goToNextStep()" class="nxtBtn"
              [disabled]="selectedSkills.length === 0 || !skillsFormGroup.valid">
              Next<span style="padding-left: 15px"><i class="fa-solid fa-arrow-right-long"></i></span>
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [editable]="isEditable">
        <ng-template matStepLabel>Completion</ng-template>
        <h2 class="text-center">Congratulations!</h2>
        <p class="text-center">Your profile has been successfully created.</p>

        <div class="text-center">
          <button class="btn btn-primary btn-lg" (click)="redirectToProfile()" class="nxtBtn">
            Let's Get Started
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
  <div *ngIf="isLoading">
    <div class="loader"></div>
  </div>
</div>