<div class="row" *ngIf="!isLoading">
    <div class="main-container ">
        <div class="left-section d-flex justify-content-center flex-column">
            <div class="logo-section">
                <img src="https://chasmadevstore.blob.core.windows.net/public/novo_logo.png" alt="Logo" />
            </div>
            <div class="img-section">
                <img src="https://chasmadevstore.blob.core.windows.net/public/login-Image.png" alt="Login Image" />
            </div>
        </div>

        <div class="right-section-reset d-flex justify-content-center align-items-center">
            <div class="formDiv" *ngIf="!isEmailSent">
                <div id="text-heading-div" class="text-center">
                    <h2 class="forgot-headings">Create new password</h2>
                </div>
                <div id="text-desc-div" class="text-center">
                    <p>
                        Create a new password to secure your account. Choose a strong password that you haven't used
                        before.
                    </p>
                </div>

                <div class="message">
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <div class="d-flex flex-column mb-2 gap-4" style="width:100%">
                                <div class="col-md-12 col-sm-12 d-flex flex-column fields-inp">
                                    <label for="password" class="p-0 form-label col-form-label-lg">Password</label>
                                    <div class="d-flex align-items-center position-relative">
                                        <input formControlName="password" [type]="showPassword ? 'text' : 'password'"
                                            placeholder="Enter New Password" class="form-control form-control-lg pe" />
                                        <span class="formEyeIcon">
                                            <img id="show-pass"
                                                [src]="showPassword ? 'https://chasmadevstore.blob.core.windows.net/public/eyeslash.png' : 'https://chasmadevstore.blob.core.windows.net/public/eye.png'"
                                                (click)="togglePasswordVisibility()"
                                                class="password_toggle-password d-flex align-item-cernter" />
                                        </span>
                                    </div>

                                    <!-- Dynamic Error Message -->
                                    <span class="text-danger validation-text"
                                        *ngIf="forgotPasswordForm.get('password')?.errors?.['message'] && forgotPasswordForm.get('password')?.touched">
                                        {{ forgotPasswordForm.get('password')?.errors?.['message'] }}
                                    </span>
                                </div>
                                <div class="col-md-12 col-sm-12 d-flex flex-column fields-inp">
                                    <label for="confirmPassword" class="p-0 form-label col-form-label-lg">Confirm
                                        Password</label>
                                    <div class="d-flex align-items-center position-relative">
                                        <input formControlName="confirmPassword"
                                            [type]="showConfirmPassword ? 'text' : 'password'"
                                            placeholder="Re-enter New Password" class="form-control form-control-lg pe">
                                        <span class="formEyeIcon">
                                            <img id="show-pass"
                                                [src]="showConfirmPassword ? 'https://chasmadevstore.blob.core.windows.net/public/eyeslash.png' : 'https://chasmadevstore.blob.core.windows.net/public/eye.png'"
                                                (click)="toggleConfirmPasswordVisibility()"
                                                class="confirm_toggle-password d-flex align-item-cernter" />
                                        </span>
                                    </div>
                                    <span class="text-danger validation-text"
                                        *ngIf="forgotPasswordForm.get('confirmPassword')?.errors?.['message'] && forgotPasswordForm.get('confirmPassword')?.touched">
                                        {{ forgotPasswordForm.get('confirmPassword')?.errors?.['message'] }}
                                    </span>

                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-5">
                            <div class="btn-div d-flex justify-content-center align-items-center">
                                <button type="submit" class="sendins-btn">
                                    Comfirm
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="formDiv" *ngIf="isEmailSent">
                <div class="text-center">
                    <div id="text-heading-div" class="text-center">
                        <h2 class="forgot-headings">Password Changed Successfully</h2>
                    </div>
                    <p>Your password has been updated. You can now log in with your new credentials.</p>

                    <div class="mt-4 btn-div">
                        <button routerLink="/login">Go to Login</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="loader" *ngIf="isLoading">
</div>