<div class="container p-4 d-flex flex-column gap-3">
    <div class="header d-flex justify-content-between">
        <div class="header-txt">
            <p>Upload Image</p>
        </div>
        <div class="cancel-btn" style="cursor: pointer;">
            <a class="text-dark" (click)="closeUploader()"><i class="fa-solid fa-xmark"></i></a>
        </div>
    </div>
    <div class="upload-container d-flex justify-content-center align-items-center" (drop)="onDrop($event)"
        (dragover)="onDragOver($event)">
        <p><i class="fa-solid fa-image"></i></p>
        <p>Drag & Drop an Image here</p>
        <p>or</p>
        <a (click)="fileInput.click()" class="upload-btn">Select an Image</a>
        <p>Max size should be 4MB</p>
        <p *ngIf="errMessage !== ''" class="text-danger">{{errMessage}}</p>
        <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)">
    </div>
    <div class="selected-file d-flex justify-content-between" *ngIf="selectedFile">
        <div class="d-flex gap-3">
            <div style="font-size: 28px;color: #FC5723;">
                <i class="fa-solid fa-file"></i>
            </div>
            <div>
                <p>{{ selectedFile.name }}</p>
                <p style="font-size: 10px;color: #FC5723;">{{ formatBytes(selectedFile.size) }}</p>
            </div>
        </div>
        <div>
            <a class="text-dark" (click)="cancelFileSelection()"><i class="fa-solid fa-xmark"></i></a>
        </div>
    </div>

    <div class="log-btn d-flex justify-content-end gap-3">
        <button mat-button (click)="closeUploader()" id="cancelBtn">Cancel</button>
        <button mat-raised-button color="warn" [disabled]="!selectedFile" (click)="uploadImage()" class="nextBtn">Next</button>
    </div>
</div>