.main-container {
  height: 100vh;
  display: flex;
  justify-content: start !important;
  align-items: center;
  gap: 6% !important;
  background: #fff;
}

.left-section {
  height: 100%;
  width: 45%;
}

.logo-section {
  height: 22%;
}

.left-section .logo-section img,
.img-section img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.right-section-forgot {
  padding: 2% 5%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
  height: 80% !important;
  width: 40%;
}

.formDiv #text-heading-div h2,
.forgot-headings {
  font-size: 30px;
  color: #ff5722;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.right-section-forgot .formDiv #text-desc-div {
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 30px;
  color: #474c60;
  font-family: "Roboto", sans-serif;
}

.right-section-forgot .formDiv .message {
  padding: 20px 0px 0px 0px;
}

.approveImage {
  width: 20px;
}

.form-control {
  display: block;
  width: 100%;
  height: 57px;
  padding: 1.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group {
  box-shadow: 0px 0px 10px #e1e1e1;
  border-radius: 9px;
  display: flex;
  flex-wrap: nowrap;
}
.form-group {
  margin-bottom: 20px;
}

.fixed-top {
  display: none;
}

#forgotPasswordDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#forgotPasswordDiv .form-group {
  margin-bottom: 0;
}

#forgotPasswordDiv .forgotDiv {
  display: flex;
  flex-direction: column;
  padding: 18px 18px;
}

#forgotPasswordDiv .logoDiv img {
  width: 40%;
}

#forgotPasswordDiv .forgot-content h2 {
  font-family: "Inter", sans-serif;
  color: #0e2346;
}

#forgotPasswordDiv .formDiv {
  margin: auto 0;
  font-family: "Inter", sans-serif;
}

#forgotPasswordDiv .formDiv .input-group .formIcon {
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#forgotPasswordDiv .formDiv input.email {
  border-left: 0px;
}

#forgotPasswordDiv .formDiv input {
  font-size: 16px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 7px 7px 7px 0px;
  outline: none;
}
#goto-login {
  text-decoration: none;
}

.forgot-content .goto-login-div span {
  padding-right: 20px;
  font-weight: bolder;
  color: #2155d9;
}

.btn-div button {
  border-radius: 6px;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: 0px 0px 5px gray;
  font-size: 15px;
  padding: 11px 60px;
  background: linear-gradient(45deg, orange, red);
}

#emailValidation {
  font-size: 14px;
  display: block;
}

.resend-link {
  cursor: pointer;
}

@media (min-width: 940px) and (max-width: 1040px) {
  #forgotPasswordDiv .formDiv h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 769px) and (max-width: 940px) {
}

@media (min-width: 768px) and (max-width: 1280px) {
  #forgotPasswordDiv .logoDiv img {
    width: 50%;
  }

  #forgotPasswordDiv .formDiv h2 {
    font-size: 1.4rem;
  }

  .right-section-forgot {
    height: auto !important;
    width: 47%;
  }
  #text-heading-div h2 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    gap: 5% !important;
    padding: 20px !important;
    overflow-y: auto;
  }
  .logo-section {
    height: auto !important;
  }
  .left-section {
    height: auto !important;
  }

  .img-section {
    display: none !important;
  }
  .right-section-forgot {
    width: auto !important;
    height: auto !important;
    box-shadow: none !important;
    margin-top: 20px;
  }
  #forgotPasswordDiv .logoDiv img {
    width: 70%;
  }

  #forgotPasswordDiv .formDiv h2 {
    font-size: 1.8rem;
  }

  #forgotPasswordDiv .imageDiv {
    display: none;
  }

  .forgot-content {
    margin-top: 35px;
  }

  .right-section-forgot {
    padding: 0%;
    margin: 5%;
    border-radius: 10px;
    box-shadow: none !important;
    width: 80%;
    height: auto !important;
  }

  .forgot-headings {
    font-size: 1.5rem !important;
  }

  .loader {
    background-size: 60px 60px !important;
    background-color: rgba(255, 255, 255, 0.7);
    background-position: center 40%;
  }
}
